*
{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: TrajanPro;
  src: url(TrajanPro.otf);
}
h1,h2,h3,h4,h5
{
    font-family: TrajanPro;
}
p
{
    color: #888888;
    text-align: justify;
    font-size: 18px;
}
.header-bar
{
    width: 100%;
    height: 35px;
    background: #00d5ff;
}
.nav-wrapper
{
    width: 100%;
    height: auto;
    background: url(../images/bg.jpg);
}
.navbar-brand img
{
    width: 180px;
}
.navbar-nav
{
    margin-left: 3%;
    margin-top: 2%;
}
.slider-area
{
    width: 100%;
    height: auto;
}
.carousel-inner .item
{
    width: 100%;
    height: 60vh;
}
.carousel-inner .item img
{
    width: 100%;
    height: 100%;
}
.slider-1
{
    background: url(../images/mates-1.jpg);
    background-position: top center;
    background-size: cover;
}
.slider-2
{
    background: url(../images/mates-2.jpg);
    background-position: top center;
    background-size: cover;
}
.slider-3
{
    background: url(../images/mates-3.jpg);
    background-position: top center;
    background-size: cover;
}
.navbar-default
{
    height: 100px;
    background-color: transparent;
    border-color: transparent!important;
    border-radius: 0px !important;
    
}
@media screen and (max-width:760px)
{
  .navbar-default
    {
        height: auto !important;

    }
}
@media screen and (max-width:1200px)
{
  .navbar-default
    {
        height: auto !important;

    }
}
@media screen and (max-width:1200px)
{
  .navbar-default
    {
        height: auto !important;

    }
    .navbar-nav
    {
        margin-left: 0%;
    }
    .dropdown-menu
    {
        background: #298296d6;
    }
   .navbar-nav .open .dropdown-menu>li>a
    {
        color: #fff;
    }
}
@media screen and (max-width: 767px)
{
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    }
.navbar-header
{
    height: 100px;
}
.navbar-default .navbar-nav>li>a {
    color: #00d5ff;
/*    line-height: 70px;*/
    font-size: 16px;
    
}

.navbar-nav>li:hover{
    background: #00d5ff;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #00d2ff;
}
.dropdown-menu
{
    height: auto;
}
.dropdown-menu>li>a:hover{
    background: #183F90;
}
.dropdown-menu>li>a:hover 
{
    color: #fff;
}
.footer-full-area
{
    margin-top: 8%;
}
.footer
{
    width: 100%;
    height: auto;
    background: url(../images/bg.jpg);
    overflow: hidden;
}
.footer h3
{
    font-weight: 900;
    color: #3f3e3a;
}
.footer-social i
{
    font-size: 45px;
}
.footer-social a
{
    color: #3f3e3a;
}
.footer-logo
{
    padding: 10px;
    margin-top: 20px;
}
.footer-logo p
{
    padding-top: 10px;
    
    padding-bottom: 10px;
}
.site-map
{
    width: 100%;
    padding: 10px;
    height: auto;
   
}
.footer-first-list li
{
    list-style: none;
    color: #888888;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.footer-first-list li a
{
    color: #888888;
    text-transform: uppercase;
}
.footer-second-list
{
     margin-left: 20px;
}
.footer-second-list li
{
    list-style: none;
   color: #888888;
}
.footer-second-list li a
{
    text-transform: none;
    font-size: 12px;
}
.footer-contact
{
    width: 100%;
    height: auto;
    padding: 10px;
}
.bottom-footer
{
    width: 100%;
    height: 50px;
    background: #3C3B37;
    color: #fff;
}
.bottom-footer p
{
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
.mates-btn
{
    background: #02B1E6;
    color: #fff;
    border-radius: 0px;
    border: none;
}
.mates-btn-wh
{
    background: #fff;
    color: #244395;;
    border-radius: 0px;
    border: none;
    margin-right: 10px;
}
.mates-btn-blue
{
    background: #fff;
    color: #FF9800;
    border-radius: 0px;
    border: none;
    margin-right: 10px;
}
.mates-btn:hover{
    background: #143C8E;
    color: #fff;
}
.top-footer img:hover{
  animation-name: imagerotate;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}
@keyframes imagerotate
{
    10%
    {
        transform: rotate(15deg);
    }
    50%
    {
        transform: rotate(-8deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
.top-footer img
{
    margin-top: 30px;
    margin-left: -0%;
    transition: all ease-in-out 0.3s;
}
.address-list
{
    margin-top: 20px;
}
.address-list li 
{
    list-style: none;
    margin-bottom: 10px;
}
.address-list li a
{
    color: #fff;
}
.address-list li i
{
    color: #FF9800;
    padding-right: 10px;
    font-size: 18px;
    padding-top: 5px;
}


.area
{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}
.service-block
{
    width: 100%;
    height: 465px;
    background: #fff;
    padding: 10px;
    border: 2px solid #173e8f;
    position: relative;
    margin-bottom: 30px;
    
}
.block-img 
{
    width: 100%;
    height: 150px;
}
.block-img img
{
    width: 100%;
    height: 100%;
}
.block-text
{
    margin-top: 10px;
    padding: 10px;
}
.block-text p
{
    text-align: justify;
}
.block-text h3
{
    color: #1c4196;
    font-size: 18px;
}
.block-down {
    position: absolute;
    width: 80%;
    height: 378px;
    background: #00d3ff;
    right: -8px;
    bottom: 80px;
    z-index: -1;
    box-shadow: 3px 5px 17px 0px #000000ab;
    margin-bottom: 10px;   
}
.block-part
{
    width: 100%;
    height: 160px;
    border: 2px solid #1b3d8c;
    position: relative;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.block-icon
{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #25479a;
    left: -25px;
    top: 20px;
    z-index: 5;
    background: #fff;
}
.block-part i
{
    font-size: 44px;
    text-align: center;
    line-height: 50px;
    padding-left: 20px;
    margin-top: 12px;
    color: #02b1e6;
}
.block-part-text
{
    width: 80%;
    height: 100%;
    float: right;
}
.block-part-text h3
{
    color: #1A3D8F;
}
.about-global-area
{
    width: 100%;
    height: 350px;
    background: #02b1e6;
    padding: 10px;
}
.about-global-area h2
{
    color: #fff;
    padding-left: 20px;
}
.contact-banner
{
    width: 100%;
    height: 250px;
    background: #00d5ff;
    margin-bottom: 50px;
    margin-top: -20px;
}
.line
{
    width: 100%;
    height: 2px;
    background: #FF9800;
    margin-bottom: 20px;
}
.form-area
{
    width: 100%;
    height: auto;
    border: 2px solid #eee;
    padding: 15px;
    margin-top: 20px;
    overflow: hidden;
}
.form-area input::placeholder
{
    color: #FF9800;
}
.form-area textarea::placeholder
{
    color: #FF9800;
}
.social-box
{
    width: 100%;
    height: 70px;
    border: 1px solid #eee;
    margin-top: 20px;
    
}
.social-box ul li
{
    list-style: none;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    
}
.social-box ul li i
{
    font-size: 45px;
    padding: 15px;
}

.social-box ul li:nth-child(1) i
{
    color: #4867AA;
}
.social-box ul li:nth-child(2) i
{
    color: #00ACED;
}

.social-box ul li:nth-child(3) i
{
    color: #DD4D42;
}
.social-box ul li:nth-child(4) i
{
    color: #FD2725;
}
.social-box ul li:nth-child(5) i
{
    color: #0077B5;
}
.social-box ul li:nth-child(6) i
{
    color: #BD081B;
}
.address-area ul
{
    margin-top: 15px;
}
.address-area ul li
{
    list-style: none;
    margin-bottom: 10px;
}

.address-area ul li i
{
    color: #FF9800;
    font-size: 30px;
    padding-top: 5px;
   
}
.address-area ul li a
{
    font: 18px;
    padding: 5px;
}
.banner
{
    width: 100%;
    height: 100px;
    background: url(../images/banner.jpg);
    filter: brightness(-1.2);
    position: relative;
    margin-top: -21px;
}
.side-menu
{
    margin-top: 20px;
}
.head-text
{
    position: absolute;
    left: 20%;
    top: 20px;
    z-index: 55;
}
.shade
{
    width: 100%;
    height: 100px;
    background: #23080875;
    left: 0;
    top: 0;
    position: absolute;
    
}
.text-image
{
    width: 100%;
    height: 80px;
    margin: 20px 0px 20px 0px;
}
.text-image img
{
    width: 100%;
    height: 100%;
}
.main-menu
{
    margin-top: 20px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #00d5ff;
    border-color: #00d5ff;
}
#sub-menu a,#sub-menu2 a,#sub-menu3 a,#sub-menu4 a
{
    background: #278ecc;
    color: #fff;
}
.panel-body
{

    padding-left: 50px;
    background: #FFF8DC;
}
.panel-title a
{
    text-decoration: none;
    display: block;
}
.panel-heading
{
    background: #FF9800 !important;
    color: #fff !important;
}
.cv-review-image
{
    width: 85%;
    height: 450px;
    margin: 10 auto;
}
.cv-review-image img
{
    width: 100%;
    height: 100%;
}
.text-justify
{
    text-align: justify;
}
.site-slogan
{
    width: 100%;
    min-height: 45px;
    max-height: auto !important;
    background: #1591e2;
    margin-top: -20px;
}
.site-slogan h3
{
    text-align: left;
    line-height: 26px;
    color: #ffffff;
    font-size: 20px;
/*    text-shadow: 3px 2px 0px #22469b;*/
}
.subtitle
{
    font-size: 22px;
    text-transform: uppercase;
}
.circle-list
{
    margin-left: 40px;
}
.circle-list li{
    list-style: disc;
    color: #888888;
}
.white
{
    color: white;
}
.justify
{
    text-align: justify;
}
h2
{
    font-weight: 700;
}
.page-banner-construction
{
    width: 100%;
    height: 65vh;
    background: url(../images/pagebanner1.jpg);
    background-position: top;
    background-size: cover;
    margin-top: -20px;
    position: relative;
}
.page-banner-civil
{
    width: 100%;
    height: 65vh;
    background: url(../images/pagebanner_civil.jpg);
    background-position: top;
    background-size: cover;
    margin-top: -20px;
    position: relative;
}
.page-banner-building
{
    width: 100%;
    height: 65vh;
    background: url(../images/pagebanner_ship.jpg);
    background-position: center;
    background-size: cover;
    margin-top: -20px;
    position: relative;
}
.page-banner-powerplant
{
    width: 100%;
    height: 65vh;
    background: url(../images/pagebanner_powerplant.jpg);
    background-position: top;
    background-size: cover;
    margin-top: -20px;
    position: relative;
}
.page-banner-mining
{
    width: 100%;
    height: 65vh;
    background: url(../images/pagebanner_minig.jpg);
    background-position: top;
    background-size: cover;
    margin-top: -20px;
    position: relative;
}
.banner-box
{
    position: absolute;
    width: 520px;
    height: 250px;
    background: #ffffffc2;
    left: 20%;
    top: 10%;
    padding: 10px;
    overflow: hidden;
}
.banner-box h4
{
    color: #00D3FF;
    font-weight: 700;
    font-size: 28px;
}
.banner-box p
{
    font-size: 18px;
}
@media screen and (max-width: 730px)
{
    .banner-box 
    {
        left: 5% !important;
    }
}

@media screen and (max-width:603px)
{
    .banner-box
    {
        width: 360px !important;
    }
}

@media screen and (max-width:603px)
{
    .banner-box
    {
        width: 360px !important;
    }
}
.contact-add
{
    margin-bottom: 40px;
    height: 245px;
    width: 100%;
}
@media screen and (max-width:612px)
{
    .header-top-social
    {
        display: none;
    }
}
.l-blue
{
    color: #00d5ff;
}
ul.circle-list li 
{
    font-size: 18px; 
}
.maria-contact
{
    width: 100%;
    height: auto;
   
}
.contact-back
{
    width: 100%;
    height: auto;
    background: #232F3B;
    margin: -1vw 0 15vh;
}
.contact-box-maria
{
    background: #2A9ED9;
    margin: -1vw 0 1vw 1vw;
    padding: 5.5vw;
    float: left;
    width: 100%;
    
}
.mr-contact-head h3
{
    font-family: "Big Caslon", "Cormorant", serif;
    line-height: 100%;
    font-size: 48px;
    color: #fff;
}
.mr-contact-head p
{
    color: #fff;
}
.contact-box-maria intput
{
    margin-bottom: 20px !important;
}
.mb-20
{
    margin-bottom: 20px;
}
.mtg-form
{
    border-radius: 0px !important;
    height: 45px;
}
.maria-btn
{
    border-radius: 0px;
    background: #1D2731;
    color: #EFDAC3;
    padding: 10px 30px;
    font-weight: 700;
}
.maria-btn:hover{
    color: #fff;
}
.bottom-maria-contact
{
    padding: 20px;
}